@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

.sliderbox {
  max-width: 350px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;

  margin-left: auto;
  margin-right: auto;
}
