
.container {
  display: flex; /* or inline-flex */
  width: 100%;
  flex-direction: row;
  padding-bottom: 1rem;
  font-size: 1em;
}

.caption {
  width: 1.5rem;
}

.slider {
   /*width: calc(100% - 5rem);*/
  flex-grow: 1;
  margin-top: 0.2rem;
}

.input {
  padding-left: 1rem;
  width: 4rem;
  height: 1.5rem;
}

.input input {
  font-size: 1em;
  width: 100%;
  border: #999 solid 1px;
  margin-top: -0.1em;
}

.testpatch {
  margin-top: 0.5rem;
  height: 2rem;
  margin-bottom: 0.5rem;
  border-top: #999 solid 2px;
  border-bottom: #999 solid 2px;
}

input[type=number] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
